body {
    background-image:url('background.jpg');
    margin-left: 5rem;
    margin-top: 3rem;
 }
#case {
    background-color: rgb(204, 112, 55);
    height: 90vh;
    width: 90vw;
    display: grid;
    padding: 15px;
    -webkit-box-shadow: -8px 12px 41px 5px rgba(14, 13, 13, 1);
    -moz-box-shadow: -8px 12px 41px 5px rgba(14, 13, 13, 1);
    box-shadow: -8px 12px 41px 5px rgba(14, 13, 13, 1);
}
#case > #Timer {
    background-color: rgba(39, 38, 38, 1);
    display: flex;
    justify-self: center;
    justify-content: center;
    width: 15vw;
    height: 12vh;
    padding: 10px;
    -webkit-box-shadow: -2px 2px 8px 3px rgba(19, 18, 18, 1);
    -moz-box-shadow: -2px 2px 8px 3px rgba(19, 18, 18, 1);
    box-shadow: -2px 2px 8px 3px rgba(19, 18, 18, 1);
}
#case > #Timer > #Countdown {
    background-color: gray;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 70px;
    color: red;
    justify-content: center;
    -webkit-box-shadow: inset -2px 2px 12px -2px rgba(19, 18, 18, 1);
    -moz-box-shadow: inset -2px 2px 12px -2px rgba(19, 18, 18, 1);
    box-shadow: inset -2px 2px 12px -2px rgba(19, 18, 18, 1);
}
#case > #puzzles {
    display: flex;

}
#case > #puzzles > #buttonPuzzle {
    display: flex;
    background-color: gray;
    margin-right: 5vw;
    width: 40vw;
    height: 65vh;
    padding: 20px;
    justify-self: left; 
    margin-top: 15px;
    -webkit-box-shadow: -2px 2px 8px 3px rgba(19, 18, 18, 1);
    -moz-box-shadow: -2px 2px 8px 3px rgba(19, 18, 18, 1);
    box-shadow: -2px 2px 8px 3px rgba(19, 18, 18, 1);
}
#case > #puzzles > #wirePuzzle {
    background-color: gray;
    width: 40vw;
    height: 65vh;
    justify-self: right; 
    margin-top: 15px;
    padding: 20px;
    -webkit-box-shadow: -2px 2px 8px 3px rgba(19, 18, 18, 1);
    -moz-box-shadow: -2px 2px 8px 3px rgba(19, 18, 18, 1);
    box-shadow: -2px 2px 8px 3px rgba(19, 18, 18, 1);
}
#case > #puzzles > #buttonPuzzle > #buttons {
    background-color: darkred;
    width: 100%;
    height: 100%;
    padding-left: 16px;
    -webkit-box-shadow: inset -2px 2px 12px -2px rgba(19, 18, 18, 1);
    -moz-box-shadow: inset -2px 2px 12px -2px rgba(19, 18, 18, 1);
    box-shadow: inset -2px 2px 12px -2px rgba(19, 18, 18, 1);
}
#case > #puzzles > #buttonPuzzle > #buttons > div {
    float: left;
    width: 15vw;
    height: 25vh;
    margin: 30px;
    opacity: 65%;
    background-color: red;
    -webkit-box-shadow: -6px 8px 14px 5px rgba(19, 18, 18, 1);
    -moz-box-shadow: -6px 8px 14px 5px rgba(19, 18, 18, 1);
    box-shadow: -6px 8px 14px 5px rgba(19, 18, 18, 1);
}
#battery {
    width: 5vw;
    height: 3vh;
    background-color: orangered;
    display: flex;
    justify-self: right;
    -webkit-box-shadow: -3px 6px 16px 0px rgba(19, 18, 18, 1);
    -moz-box-shadow: -3px 6px 16px 0px rgba(19, 18, 18, 1);
    box-shadow: -3px 6px 16px 0px rgba(19, 18, 18, 1);
}
#case > #puzzles > #wirePuzzle > #wires {
    background-color: darkred;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: inset -2px 2px 12px -2px rgba(19, 18, 18, 1);
    -moz-box-shadow: inset -2px 2px 12px -2px rgba(19, 18, 18, 1);
    box-shadow: inset -2px 2px 12px -2px rgba(19, 18, 18, 1);
    padding-top: 15px;
}
#case > #puzzles > #wirePuzzle > #wires > div {
    background-image: url('wire.jpg');
    width: 100%;
    height: 5%;
    margin-top: 50px;
    position: relative;
}
#manual {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
#manual > #page {
   background-color: antiquewhite;
   width: 20vw;
   height: 40vh;
    flex: 1;
    text-align: center;
}
#gifs > div{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
#explosion img {
    width: 100vw;
    height: 100vh;
}
#Conffeti img {
    width: 100vw;
    height: 100vh;
}
